<div
  class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 container mx-auto"
>
  {% for post in collections.gallery | reverse %}
  <article
    class="p-5 border rounded-2xl border-gray-200 hover:border-indigo-400 shadow-lg hover:shadow-xl relative transition-all"
  >
    <p
      class="text-base leading-6 text-gray-500 text-xs mb-3 absolute right-3 top-1"
    >
      <time> {{ post.date | readableDate }} </time>
    </p>
    <h2 class="font-bold text-3xl text-gray-900 mb-2">
      <a href="{{ post.url | url }}">
        {% if post.data.title %} {{ post.data.title }} {% endif %}
      </a>
    </h2>

    {% if post.data.description %}
    <p class="text-lg text-gray-500 mb-3">{{ post.data.description }}</p>
    {% endif %}

    <a href="{{ post.url | url }}">
      <img
        src="{{post.data.cover}}"
        alt="{{post.data.title}}"
        class="aspect-video object-cover rounded shadow-xl"
      />
    </a>
  </article>
  {% endfor %}
</div>
